#nav-sidebar {
  float: left;
  width: 12%;
  height: 88vh;
  /* background-color: #f5f4e9; */
  padding: 0px !important;
  /* pls add shadows later */
}
#nav-sidebar-list {
  width: 100%;
  border-style: none;
  padding-top: 50px !important;
  display: flex;
  flex-direction: column;
}
.nav-item {
  border-style: none;
  border-width: 1px;
  padding: 8px !important;
  padding-left: 30px !important;
  
}
.nav-item:hover, .nav-item:active {
    width: 100%;
    color: var(--black) !important;
    padding: 8px !important;
    font-size: 20px;
    cursor: pointer;
}
.nav-item-active, .nav-item-active:active, .nav-item-active:hover {
  width: 125%;
  color: var(--white) !important;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 0% 0%);
  padding: 8px !important;
  font-size: 26px;
}
.div-add-item{
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}

.div-add-item button{ 
  float: left;
  padding: 15px;
  border: none;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}
.div-add-item button:hover{
  background-color: transparent;
}


.card-main {
  display: flex;
  justify-content: center;
  
 
}
.logo1{
  margin-right: 500px;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}

.logo2{
  margin-right: 500px;

}
h1{
  text-align: center;
}

mat-form-field{

  margin-left: 50px;
}

.list-label1{
  
  width: 90%;
  padding: 10px;
}
.mat-sort-header-container {
  align-items: center;
}


.div-product-td{
  float: left; 
  padding: auto;
  width: 210px;
  overflow: auto;
}

.search-input{
  float: left;
  padding-left: 10px;
}

.div-print-item{
  padding-right: 100px;
}

.div-print-item button{ 
  float: right;
  padding: 15px;
  border: none;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}
.div-print-item button:hover{
  background-color: #EDECDF;
  padding: 17px;
}

.btn2 button {
  border: none;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
  margin-right: 10px;
  font-size: 20px;
}

.btn2 button:hover {
  background-color: #EDECDF;
  cursor: pointer;
  padding: 5px;
}

th{
  
}
td{

  text-align: center;
}
.menu button {
  border: none;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
  margin-right: 10px;
  font-size: 17px;
}

.menu button:hover {
  background-color: #EDECDF;
  cursor: pointer;
  padding: 5px;
}
.menu-container mat-card:hover{
  padding-right: 115px;
  background-color: #EDECDF;
  cursor: pointer;
}
.menu-container mat-card {
  padding-right: 110px;
  margin-right: 20px;
}
.menu-title {
  font-size: 20px;
  font-family: 'Pacifico', cursive;

}
table{
  float: left;
  width: 100%;
  padding: 20px;
  border-collapse: collapse;
}