<mat-card class="addOrderContainer">

<div class="sideContainer">

</div>


<div class="menuContainer">

</div>

</mat-card>
<!-- <div class="content" class="modal-dialog-scrollable">
    <div class="starters">
        <h1>For Starters</h1>
        <button style="background-image: url(../../../assets/faveIcon/rolls.jpg); background-repeat: no-repeat; background-size: cover;">
        </button>
        <button style="background-image: url(../../../assets/faveIcon/dynamite.jpg); background-repeat: no-repeat; background-size: cover;">
        </button>
        <button style="background-image: url(../../../assets/faveIcon/chimken.jpg); background-repeat: no-repeat; background-size: cover;">
        </button>
        <button style="background-image: url(../../../assets/faveIcon/bulaklak.jpg); background-repeat: no-repeat; background-size: cover;">
        </button>
    </div>
    <div class="soups">
        <h1>Soup for the soul</h1>
        <button style="background-image: url(../../../assets/faveIcon/pochero.jpg); background-repeat: no-repeat; background-size: cover;">
        </button>
        <button style="background-image: url(../../../assets/faveIcon/sinigang.jpg); background-repeat: no-repeat; background-size: cover;">
        </button>
        <button style="background-image: url(../../../assets/faveIcon/sinigangbaboy.jpg); background-repeat: no-repeat; background-size: cover;">
        </button>
        <button style="background-image: url(../../../assets/faveIcon/siniganghipon.jpg); background-repeat: no-repeat; background-size: cover;">
        </button>
    </div>
    <div class="noods">
        <h1>Oodles of Noodles</h1>
        <button style="background-image: url(../../../assets/faveIcon/seafoodpancit.jpg); background-repeat: no-repeat; background-size: cover;">
        </button>
        <button style="background-image: url(../../../assets/faveIcon/seafoodpancit.jpg); background-repeat: no-repeat; background-size: cover;">SOLO
        </button>
        <button style="background-image: url(../../../assets/faveIcon/pancit.jpg); background-repeat: no-repeat; background-size: cover;">
        </button>
        <button style="background-image: url(../../../assets/faveIcon/pancit.jpg); background-repeat: no-repeat; background-size: cover;">SOLO
        </button>
        <br>
        <button style="background-image: url(../../../assets/faveIcon/bihon.jpg); background-repeat: no-repeat; background-size: cover;">
        </button>
        <button style="background-image: url(../../../assets/faveIcon/bihon.jpg); background-repeat: no-repeat; background-size: cover;">SOLO
        </button>
        <button style="background-image: url(../../../assets/faveIcon/ricenoo.png); background-repeat: no-repeat; background-size: cover;">
        </button>
        <button style="background-image: url(../../../assets/faveIcon/ricenoo.png); background-repeat: no-repeat; background-size: cover;">SOLO
        </button>
    </div>
    <div class="grill">
        <h1>From the Grill</h1>
        <button style="background-image: url(../../../assets/faveIcon/rolls.jpg); background-repeat: no-repeat; background-size: cover;">
        </button>
        <button style="background-image: url(../../../assets/faveIcon/dynamite.jpg); background-repeat: no-repeat; background-size: cover;">
        </button>
        <button style="background-image: url(../../../assets/faveIcon/chimken.jpg); background-repeat: no-repeat; background-size: cover;">
        </button>
        <button style="background-image: url(../../../assets/faveIcon/bulaklak.jpg); background-repeat: no-repeat; background-size: cover;">
        </button>
    </div>
</div> -->
