.starters button {
    margin-right: 20px;
    width: 200px;
    height: 200px;
    
}
.soups button {
    margin-right: 20px;
    width: 200px;
    height: 200px;
    
}

.noods button {
    margin-right: 20px;
    width: 200px;
    height: 200px;
    font-size: 50px;
}
.grill button {
    margin-right: 20px;
    width: 200px;
    height: 200px;
    
}

button:hover {
    padding: 8px !important;
}
button {
    cursor: pointer;
    margin-top: 10px;
}
.addOrderContainer{
    box-shadow: none;
    margin:auto 0;
}

.sideContainer{
background-color: tomato;
float: left;
width: 450px;
height: 300px;
}

.menuContainer{
background-color: teal;
float: left;
width: 450px;
height: 300px;
}