<h1>WELCOME ORDER HERE!!</h1>
<h2>For Starters</h2>
<div class="add-order">
    <p>Fried Spring Rolls<button>Add&nbsp;<i class="fas fa-plus"></i></button></p>
    <p>Chilli Cheese Stick<button>Add&nbsp;<i class="fas fa-plus"></i></button></p>
    <p>Chilli Chicken Wings(4pcs)<button>Add&nbsp;<i class="fas fa-plus"></i></button></p>
    <p>Chicharon Bulaklak<button>Add&nbsp;<i class="fas fa-plus"></i></button></p>
</div> 
<p>balak ko sana may isa pang page dito sa modal which i viview yung table</p>
<div>
    <table>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td style="width: 30%">  
          <div style="float: left; padding-left: 10px">
            <div><p></p></div>
          </div>
        </td>
        <td></td>
        <td>
        </td>
        <td>
            <button class="card-delete-button"><i class="fas fa-trash-alt"></i>&nbsp; Cancel</button>
          </td>
      </tr>
    </table>
  </div>
  <div class="desciption">
      <h3>Add Description:</h3>
      <form class="desc-form">
        <mat-form-field class="desc-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Toasted rolls"></textarea>
        </mat-form-field>
      </form>
  </div>
  <button class="card-delete-button">&nbsp; Submit Order</button>
