
<div class="card-main">
    <div class="list-label1">
      
      <h1 class="logo1"> Cocolime</h1>
      <h1> Customer's Order</h1>
      <div class="content-container">
        <mat-form-field appearance="fill">
          <mat-label >Order No.</mat-label>
           <input matInput readonly value="">
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Payment Method</mat-label>
          <mat-select>
            <mat-option value="one">Cash</mat-option>
            <mat-option value="two">Card</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Dining</mat-label>
          <mat-select>
            <mat-option value="one">Dine in</mat-option>
            <mat-option value="two">Take out</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label >Order No.</mat-label>
           <input matInput readonly value="">
        </mat-form-field>
        </div>
      <div>
           <button (click)="openOrder()">Add Item</button>
        </div>
    <div>
      <button>Submit</button>
      <button>Show Orders</button>
    </div>
    </div>
   
  </div>
  
  
  